.modal-body{
    white-space: normal;
}

.carousel-control-next, .carousel-control-prev {
    bottom: auto;
    width: auto;
    top: -30px;
    background-color: #000;
    padding: 3px 5px;
}

.bg-conference-primary {
    background: #cfe2f3;
}

.bg-conference-success {
    background: #92d050;
}

* {
    font-size: 20px;
}

.topnav .navbar-nav .nav-link {
    font-weight: bold;
}